.todoInput {
  margin: 20px;
  &-Input {
    padding: 0px;
    margin: 0px;
    width: 345px;
    height: 53px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    border:none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    box-shadow: 0.8px 0.8px 3px grey;
  }

  &-Input::-webkit-input-placeholder {
    text-align: center;
  }

  &-btn {
    margin-left: 12px;
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 54px;
    font-size: 1.3rem;
    width: 64px;
    height: 54px;
    display: inline-block;
    cursor: pointer;
    background-color: #5c7cfa;
    border-radius: 5px;
    box-shadow: 1.2px 1.2px 3px gray;
  }

  &-icon {
    margin-top: -5px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
  }
}