@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.todoItem {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 8px;
  background-color: rgba(116, 143, 252, 0.65);
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px grey;
  transition: all 0.5s;

  &-delIcon {
    cursor: pointer;
    width: 34px;
    height: 34px;
    transition: 0.7s;
  }

  &-delIcon:hover {
    color: white;
    transform: rotate(90deg);
    transform-origin: center center;
    transition: 0.7s;
  }

  &-delete {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
  }

  &-title {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-left: 40px;
  }

  &-title-done {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
  }
}

.todoItem-done {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 8px;
  background-color: rgba(255, 168, 168, 0.65);
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px grey;
  transition: 0.5s;
}
