.todoItem {
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  &-id {
    display: inline-block;
  }

  &-title {
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(0,0,0);
  }
  
  &-title-complete {
    display: inline-block;    
    color: rgba(0,0,0,0.3);
    text-decoration: line-through;
    cursor: pointer;
    transition: 0.5s;
  }

  &-checkbox {
 
  }
}
