.todoItem {
  transition: 0.5s;
  display: flex;
  margin-bottom: 15px;
  font-size: 1.3rem;
  justify-content: space-between;
  &-id {
    display: inline-block;
  }

  &-title {
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(0,0,0);
  }
  
  &-title-complete {
    display: inline-block;    
    color: rgba(0,0,0,0.3);
    text-decoration: line-through;
    cursor: pointer;
    transition: 0.5s;
  }

  &-checkbox {
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }

  &-checkbox:checked {
    transition: 0.5s; 
  }

  &-delBtn {
    width: 30px;
    height: 30px;
  }
}
