.todoTemplate {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  display: inline-block;
  width: 1000px;
  height: 700px;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
}