.todoTemplate {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid gray;
  display: inline-block;
  padding: 30px;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
}